body{
    padding: 0;
    margin: 0;
}
:root{
    --dark-blue-color:#3B82F6;
    --light-blue-color:#93C5FD;
}
.container{
    text-align: center;
    margin: auto;
}
.btn{
    margin: 2px 8px;
}
/* facebook style button */
.facebook-style-btn{
 border-radius:3px;
 font-size: 1rem;
 padding: 5px 13px;
 cursor: pointer;
 outline: none;
}
.facebook-style-dark{
    box-shadow: inset 0px 1px 0px 0px #6366F1;
    background-color: #4F46E5;
    border: 1px solid #4F46E5;
    color: white;
    text-shadow: 0 1px 0px #6366F1;
}
.facebook-style-dark:hover{
    background-color: #4338CA;
}
.facebook-style-dark:active{
    background-color: #3730A3;
    border-color: #3730A3;
}
.facebook-style-light{
    background-color: #F3F4F6;
    border: 1px solid #D1D5DB;
    color: #6B7280;
}
.facebook-style-light:hover{
    background-color: #E5E7EB;
}
.facebook-style-light:active{
    background-color: #D1D5DB;
    border: #D1D5DB;
}

/* 3d buttons */
.btn-3d-1{
    position: relative;
    background-color:#A5B4FC;
    border: none;
    color: white;
    padding: 5px 13px;
    font-size: 1rem;
    box-shadow: -6px 6px 0 #4F46E5;
    outline: none;
}
.btn-3d-1:hover{
    background-color: #818CF8;
}
.btn-3d-1:active{
    background-color:#6366F1;
    top:3px;
    left: -3px;
    box-shadow: -3px 3px 0 #4F46E5;
}
.btn-3d-1::before{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-right: solid 6px #4F46E5;
    border-left-width: 0px;
    background: none;
    top: 0px;
    left: -6px;
}
.btn-3d-1::after{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border:solid 6px transparent;
    border-top: solid 6px #4F46E5;
    background: none;
    border-bottom-width: 0px;
    right: 0px;
    bottom: -6px;
}
.btn-3d-1:active::before{
    border:solid 3px transparent ;
    border-right: solid 3px #4F46E5;
    border-left-width: 0px;
    left: -3px;;
}
.btn-3d-1:active::after{
    border:solid 3px transparent ;
    border-top: solid 3px #4F46E5;
    border-bottom-width: 0px;
    bottom: -3px;
}
.btn-3d-2{
    position: relative;
    background: #A5B4FC;
    background:radial-gradient(#A5B4FC,#C7D2FE);
    font-size: 1rem;
    color: white;
    text-shadow: 0 1px 0 #A5B4FC;
    height: 90px;
    width: 90px;
    border-radius: 100% ;
    border: solid 1px #6366F1;
    outline: none;
    box-shadow: inset 0 1px 0 #6366F1,
                    0 2px 0 #6366F1,
                    0 3px 0 #4F46E5,
                    0 4px 0 #4F46E5,
                    0 5px 0  #4338CA,
                    0 6px 0  #4338CA,
                    0 7px 0 #3730A3,
                    0 8px 0 #3730A3,
                    0 9px 0 #312E81;
                    
}
.btn-3d-2:hover{
    background: #818CF8;
    background:radial-gradient(#818CF8,#A5B4FC);
}
.btn-3d-2:active{
    box-shadow: inset 0 1px 0 #6366F1,
                    0 2px 0 #6366F1,
                    0 3px 0 #4F46E5,
                    0 4px 0 #4F46E5,
                    0 5px 0  #4338CA,
                    0 6px 0  #4338CA,
                    0 7px 0 #3730A3;
    top:2px;
    background: #6366F1;
    background:radial-gradient(#6366F1,#818CF8);
    
}
/* gradient button */
.gradient-btn-1{
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 10px solid transparent;
    background-color: ;
    border-image: linear-gradient(to top right,#312E81,#6366F1);
    border-image-slice: 1;
    color: #3730A3;
    outline: none;
    transition: all 0.3s ease;
}
.gradient-btn-1:hover{
    background-size: 100%;
    background-image: linear-gradient(to top right,#312E81,#6366F1);
    color: white;
}
.gradient-btn-2{
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: white;
    border: 4px solid transparent;
    border-image: linear-gradient(to right,#312E81,transparent);
    border-image-slice: 1;
    color: #3730A3;
    outline: none;
    transition: all 0.3s ease;
}
.gradient-btn-2:hover{
    background-size:100%;
    background-image: linear-gradient(to right,#312E81,transparent);
    border-right-style: none;
    color: white;
}
.animated-btn-1{
    
}
